body {
    margin: 0;
    padding: 0;
}

.positioned-image {
    position: absolute;
    left: 35%; /* Горизонтальная координата */
    top: 15%; /* Вертикальная координата */
    width: 30%;
}
.np {
    position: absolute;
    left: 75%; /* Горизонтальная координата */
    top: 75%; /* Вертикальная координата */
    width: 10%;
}
.str1{
    position: absolute;
    left: 25%; /* Горизонтальная координата */
    top: 15%; /* Вертикальная координата */
    width: 50%;
}

.np1 {
    position: absolute;
    left: 68%; /* Горизонтальная координата */
    top: 58%; /* Вертикальная координата */
    width: 4%;
}

.pc5{
    position: absolute;
    left: 30%; /* Горизонтальная координата */
    top: 35%; /* Вертикальная координата */
    width: 16%;
}

.pct3{
    position: absolute;
    left: 53%; /* Горизонтальная координата */
    top: 35%; /* Вертикальная координата */
    width: 16%;
}
.pp{
    position: absolute;
    left: 28%; /* Горизонтальная координата */
    top: 58%; /* Вертикальная координата */
    width: 4%;
}
.qr{
    position: absolute;
    left: 64%; /* Горизонтальная координата */
    top: 25%; /* Вертикальная координата */
    width: 8%;
}